<% include partials/header%>
<h1> We have the finest blogs from all across! </h1>
<button class="ui secondary button">
<a href="/blogs" class="button standard">Click here to view them</a>
</button>
<button class="ui secondary button">
<a href="/blogs/new" >Click here to add new blog</a>
</button>
<% include partials/footer%>